<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		
		<listener class-name="com.naveenAutomationLab.naveenAutomationLabFrameWork.Listners.CustomListners"/>
		<listener class-name="com.naveenAutomationLab.naveenAutomationLabFrameWork.Listners.RetryTransformer"/>
		<listener class-name="com.naveenAutomationLab.naveenAutomationLabFrameWork.Listners.ExtentReportListner"/>
		
	</listeners>
  <test thread-count="5" name="Test">
    <classes>
     
      <class name="com.naveenAutomationLab.naveenAutomationLabFrameWork.Test.YourOrderHasBeenPlacedTest"/>
      <class name="com.naveenAutomationLab.naveenAutomationLabFrameWork.Test.YourStoreTest"/>
      <class name="com.naveenAutomationLab.naveenAutomationLabFrameWork.Test.LoginPageTest"/>
      <class name="com.naveenAutomationLab.naveenAutomationLabFrameWork.Test.MyWishListTest"/>
      
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
